{% extends 'base.html.twig' %}

{% block title %}eBookShare - Signing In{% endblock %}

{% block body %}
<main>
    <section class="forms">
    <h2>Create an account</h2>
        {{ form_start(form) }}
            {{ form_row(form.username,{'attr':{'placeholder':'username'},'label':' '}) }}
            {{ form_row(form.password,{'attr':{'placeholder':'password'},'label':' '}) }}
            {{ form_row(form.verificationPassword,{'attr':{'placeholder':'re-enter password'},'label':' '}) }}
            <input class="btn" type="submit" value="Register">
        {{ form_end(form) }}
    </section>
</main>
{% endblock %}