{% extends 'base.html.twig' %}

{% block title %}eBookShare - Administration{% endblock %}

{% block body %}

<div class="allTables">
    <div class="commentTable">
        <div class="adminTables">
            <div class="adminComments">Comments <div></div></div>
        </div>
        <div class="adminHead">
            <div class="adminComments">
                <div>User</div>
                <div>Time</div>
                <div>Content</div>
                <div>Book</div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="adminContent">
            <div class="adminComments">
                {% for review in comment %}
                <div class="review adminCol">
                    <h3 class=" tableParam">{{review.user.id}}</h3>
                    <p class="commentDate tableParam">
                    {# {% if date(review.updatedAt) > date('-1day') %}
                    Today at {{review.updatedAt|date('h')}}h{{review.updatedAt|date('i')}}
                    {% else %} #}
                    {{review.updatedAt|date('m/d/Y')}}
                    {# {% endif %} #}
                    </p>
                    <textarea readonly class="commentContent tableParam">{{review.content}}</textarea>

                    <a class=" tableParam" href="{{ path("displayEbook", {'id':review.ebook.id})}}">
                        <h2>{{review.ebook.title}}</h2>
                    </a>
                    <div class=" tableParam">
                        <a class="btn" href="{{ path('adminCommentEdit',{'id' : review.id, 'ebook' : review.ebook.id}) }}">EDIT</a>
                    </div>
                    <form class="tableParam" method="POST" action="{{ path('adminCommentDeletion',{'id' : review.id}) }}">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ review.id ) }}">
                        <input class="btn" type="submit" name="_method" value="DELETE">
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="ebookTable">
        <div class="adminTables">
            <div class="adminBooks">eBooks <div class="btn"><a href="{{ path('ebookAdd') }}">Add a book</a></div> </div>
        </div>
        <div class="adminHead">
            <div class="adminBooks ab2">
                <div>Title</div>
                <div>Author</div>
                <div>Category</div>
                <div>Synopsis</div>
                <div>Image file</div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="adminContent">
            <div class="adminBooks ">
            {% for ebook in ebook %}
                <div class="user adminCol">
                    <a class=" tableParam" href="{{ path("displayEbook", {'id':ebook.id})}}">
                        <h2>{{ebook.title}}</h2>
                    </a>
                    <p class="tableParam">{{ebook.author}}</p>
                    <p class="tableParam">{{ebook.category}}</p>
                    <textarea readonly class="commentContent tableParam">{{ebook.synopsis}}</textarea>
                    <p class="tableParam">{{ebook.image}}</p>
                    <div class=" tableParam">
                        <a class="btn" href="{{ path('ebookEdit',{'id' : ebook.id}) }}">EDIT</a>
                    </div>
                    <form class="tableParam" method="POST" action="{{ path('ebookDeletion',{'id' : ebook.id}) }}">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ ebook.id ) }}">
                        <input class="btn " type="submit" name="_method" value="DELETE">
                    </form>
                </div>
                <div class="line"></div>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="userTable">
        <div class="adminTables">
            <div class="adminUsers">Users <div>
            </div>
            </div>
        </div>
        <div class="adminHead">
            <div class="adminUsers">
                <div>id</div>
                <div>Username</div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="adminContent">
            <div class="adminUsers">
            {% for user in user %}
                <div class="user adminCol">
                    <h3 class="tableParam t2">{{user.id}}</h3>
                    <p class="tableParam t2">{{user.username}}</p>
                    <div class=" tableParam t2">
                        <a class="btn" href="{{ path('userEdit',{'id' : user.id}) }}">EDIT</a>
                    </div>
                    <form class="tableParam t2" method="POST" action="{{ path('userDeletion',{'id' : user.id}) }}">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ user.id ) }}">
                        <input class="btn " type="submit" name="_method" value="DELETE">
                    </form>
                </div>
                <div class="line"></div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>


{# <div class="adminTables">
    <div class="adminComments">Comments <div></div></div>
    <div class="adminBooks">eBooks <div class="btn"><a href="{{ path('ebookAdd') }}">ADD</a></div></div>
    <div class="adminUsers">Users <div></div></div>
</div>
<div class="adminHead">
    <div class="adminComments">
        <div>User</div>
        <div>Time</div>
        <div>Content</div>
        <div>Book</div>
        <div></div>
        <div></div>
    </div>
    <div class="adminBooks">
        <div>Title</div>
        <div>Author</div>
        <div>Category</div>
        <div>Synopsis</div>
        <div>Image file</div>
        <div></div>
        <div></div>
    </div>
    <div class="adminUsers">
        <div>id</div>
        <div>Username</div>
        <div></div>
        <div></div>
    </div>
</div> #}
{# <div class="adminContent">
    <div class="adminComments">
        {% for review in comment %}
        <div class="review adminCol">
            <h3 class=" tableParam">{{review.user.id}}</h3>
            <p class="commentDate tableParam">
            
            {{review.updatedAt|date('m/d/Y')}}
            
            </p>
            <textarea readonly class="commentContent tableParam">{{review.content}}</textarea>

            <a class=" tableParam" href="{{ path("displayEbook", {'id':review.ebook.id})}}">
                <h2>{{review.ebook.title}}</h2>
            </a>
            <div class=" tableParam">
                <a class="btn" href="{{ path('commentEdit',{'id' : review.id, 'ebook' : review.ebook.id}) }}">EDIT</a>
            </div>
            <form class="tableParam" method="POST" action="{{ path('commentDeletion',{'id' : review.id}) }}">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ review.id ) }}">
                <input class="btn" type="submit" name="_method" value="DEL">
            </form>
        </div>
        {% endfor %}
    </div>

    <div class="adminBooks">
        {% for ebook in ebook %}
            <div class="user adminCol">
                <a class=" tableParam" href="{{ path("displayEbook", {'id':ebook.id})}}">
                    <h2>{{ebook.title}}</h2>
                </a>
                <p class="tableParam">{{ebook.author}}</p>
                <p class="tableParam">{{ebook.category}}</p>
                <textarea readonly class="commentContent tableParam">{{ebook.synopsis}}</textarea>
                <p class="tableParam">{{ebook.image}}</p>
                <div class=" tableParam">
                    <a class="btn" href="{{ path('ebookEdit',{'id' : ebook.id}) }}">EDIT</a>
                </div>
                <form class="tableParam" method="POST" action="{{ path('ebookDeletion',{'id' : ebook.id}) }}">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ ebook.id ) }}">
                    <input class="btn " type="submit" name="_method" value="DEL">
                </form>
            </div>
            <div class="line"></div>
        {% endfor %}



    </div>

    <div class="adminUsers">
        {% for user in user %}
            <div class="user adminCol">
                <h3 class="tableParam t2">{{user.id}}</h3>
                <p class="tableParam t2">{{user.username}}</p>
                <div class=" tableParam t2">
                    <a class="btn" href="{{ path('userEdit',{'id' : user.id}) }}">EDIT</a>
                </div>
                <form class="tableParam t2" method="POST" action="{{ path('userDeletion',{'id' : user.id}) }}">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ user.id ) }}">
                    <input class="btn " type="submit" name="_method" value="DEL">
                </form>
            </div>
            <div class="line"></div>
        {% endfor %}
    </div>
</div> #}


{% endblock %}
