{% extends 'base.html.twig' %}

{% block title %}eBookShare - My Account{% endblock %}

{% block body %}
<main>
    <div class="reviews-head">
        <h1>MY REVIEWS</h1>
        <a href="{{ path("app_logout") }}" class="btn">Disconnect from account</a>
    </div>
    <section class="forms reviews">
        {% for review in comment %}
        <div class="review">
            <a href="{{ path("displayEbook", {'id':review.ebook.id})}}">
                <h2>{{review.ebook.title}}</h2>
            </a>
            <p>{{review.content}}</p>
            <a class="btn" href="{{ path('commentEdit',{'id' : review.id, 'ebook' : review.ebook.id}) }}">EDIT</a>
            
            {# to eventually edit comments from this page (not figured out how yet) #}

            {# {{ form_start(form)}}
            {{form_row(form.content,{'attr':{'placeholder':comment.content,'label':'Edit your comment'}})}}
            <input type="submit" class="btn" value="Edit">
            {{ form_end(form) }} #}

            {# <a href="{{ path('commentDeletion',{'id':review.id}) }}">DELETE</a> #}

            <form method="POST" action="{{ path('commentDeletion',{'id' : review.id}) }}">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ review.id ) }}">
                <input class="btn" type="submit" name="_method" value="DELETE">
            </form>
        </div>
        <hr>
        {% endfor %}
    </section>
</main>
{% endblock %}