{% extends 'base.html.twig' %}

{% block title %}eBookShare - Browsing{% endblock %}

{% block body %}
<main>
    <section class="ebookDisplay">
        <div class="imageHalf">
            <img src='{{ asset('img/' ~ ebook.image) }}' alt="{{ebook.image}}">
            <a href="{{ path("ebookPerCategory",{'category':ebook.category.id})}}"><h3>{{ebook.category.name}}</h3></a>
        </div>
        <div class="contentHalf">
            <div class ="contentHead">
                <div class="contentTitle">
                    <h2>{{ebook.title}}</h2>
                    <p>By {{ebook.author}}</p>
                </div>
                <div class="btns">
                    <div class="btn">READ ONLINE</div>
                    <div class="btn">DOWNLOAD</div>
                </div>
            </div>
            <p>{{ebook.synopsis | nl2br }}</p>
        </div>
    </section>


    <section class="comments">
        <div class="commentsHead">
            <h2>COMMENTS</h2>
            
        </div>
        <ol class="commentsList">
            <li class="addComment">
            {% if app.user %}
            {{form_start(commentForm)}}
                {{form_row(commentForm.content,{'attr':{'placeholder':'Write your comment'},'label':' '})}}
                <button type="submit" class="btn">Comment</button>
            {{form_end(commentForm)}}
            {% else %}
            <a href="{{ path("app_login") }}" class="btn">Log in to comment</a>
            {% endif %}
            </li>
            <hr>
            {% for review in comment | reverse(true)%}
            <li class="comment">
                <h3>{{review.user.username}}</h3>
                <p class="commentDate">
                {# {% if date(review.updatedAt) >  date('-1day') %}
                Today at {{review.updatedAt|date('h')}}h{{review.updatedAt|date('i')}}
                {% else %} #}
                {{review.updatedAt|date('m/d/Y')}}
                {# {% endif %} #}
                </p>
                <textarea readonly class="commentContent">{{review.content}}</textarea>
            </li>
            <hr>
            {% else %}
            <br>
            <li>This book doesn't have a single review yet, be the first to add one !</li>
            {% endfor %}
        </ol>
    </section>

</main>
{% endblock %}