{% extends 'base.html.twig' %}

{% block title %}eBookShare - Browsing{% endblock %}

{% block body %}
<main>
    <section class="genre">
        <h1>{{name.name}}</h1>
        <div class="ebookContainer">   

            {% for ebook in ebook %}
            <a class="ebookBox" href="{{ path('displayEbook', {'id' : ebook.id }) }}">
                <img src="{{ asset('img/witchstower.jpg')}}" alt="book image">
                <div class="ebookContent"><h2>{{ebook.title}}</h2></div>
            </a>
            {% endfor %}

            {# list made manually, make it a loop "for genre in category" later #}
            {# <div class="ebookBox">
                <img src="{{asset('book.image')}}" alt="book image">
                <div class="ebookContent"><h2>book.title</h2></div>
            </div> #}
        </div>
    </section>
</main>
{% endblock %}
